@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* general */
body {
    background-color: rgb(30, 29, 43);
    font-family: 'Poppins', sans-serif;
}

.img-responsive {
    width: 100%;
}

.btn {
    border: #ff702a;
    background-color: #ff702a;
    padding: 1%;
}

img {
    width: 100%;
    height: auto;
}

hr {
    color: #ff702a;
    border: solid 3px #ff702a;
}

.text-page,
h2 {
    color: white;
}

h3,
.mini-text,
.card-price {
    color: #ff702a;
}


/* navbar */
.navbar {
    display: flex;
    flex-direction: row;
}

.icon-page {
    width: 70%;
    display: flex;
    color: #ff702a;
    justify-content: start;
    align-items: center;
}

.menu p {
    margin: 3%;
}

.menu {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: flex-end;
    color: #fff;
}

/* header */

.header {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.header-text {

    margin: 3%;
}

.image {
    width: 50%;
    margin: 3%;
}

.title {
    font-size: 60px;
    color: #ff702a;
}

/* About */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
}

.about .image {
    width: 40%;
}

.about .about-us {
    width: 50%;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about .image,
    .about .about-us {
        width: 80%;
    }
}


/* tarjetas */
.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.food-menu-header {
    text-align: center;
}

.card {
    margin-top: 5%;
    background-color: #ffefe8;
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}


@media (max-width: 768px) {
    .foods {
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex-basis: calc(100% - 20px);
        margin-top: 2%;
    }
}

/* Services */
.Services {
    margin: 5% 0;
}

.Services .food-menu-header {
    text-align: center;
}

.Services .foods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Services .foods>div {
    flex-basis: calc(30.33% - 20px);
    margin: 2%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: none;
    border: none;
}

.Services .foods img {
    width: 100;
    height: auto;
}

@media (max-width: 768px) {
    .Services .foods {
        flex-direction: column;
        align-items: center;
    }

    .Services .foods>div {
        flex-basis: 100%;
        margin-top: 2%;
    }

    .Services .foods img {
        width: 60%;
    }
}

/* Banner */

.banner {
    background-color: #ffefe8;
    padding: 20px;
    text-align: center;
}

.banner p,
.banner button {
    margin: 10px 0;
}

.banner button {
    border: #ff702a;
    background-color: #ff702a;
    padding: 1%;
    cursor: pointer;
}

/* footer */
.footer {
    padding: 30px 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-line {
    width: 10%;
    border-top: 2px solid #ff702a;
    margin-top: 5px;
}

.footer h2 {
    color: white;
    margin-bottom: 5px;
}

.footer button.btn-footer {
    margin: 10px;
    background-color: #ff702a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    margin-bottom: 5px;
}

.footer>div {
    flex-basis: calc(25% - 20px);
    margin: 0 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .footer>div {
        flex-basis: 100%;
        margin: 10px 0;
    }
}